.paragraph {
  font-family: 'Titillium Web', serif;
}

.paragraph-bold {
  font-family: 'Titillium Web', serif;
  font-weight: bold;
}

.paragraph-italic {
  font-family: 'Titillium Web', serif;
  font-style: italic;
}
